
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
.max-width{
    max-width: 1300px;
    padding: 0 8px;
    margin: auto;
    /* border: 1px solid blue; */
    font-family: 'Ubuntu', sans-serif;
}


/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: black;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu li a:hover{
    color: crimson;
}


/* home section styling */

#home{
    display: flex;
    background: url(./Image/laptop_books.jpg) no-repeat center;
    color: #fff;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #111; */
    background-size: cover;
    background-attachment: fixed;
}
#home .max-width{
    margin: auto 0 auto 40px;
}
#home .home-content .text-1{
    font-size: 27px;
}
#home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
#home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
#home .home-content .text-3 span{
    color: crimson;
    font-weight: 550;
}

/* About Me styling */


#about{
    padding: 50px;
    background-color: black;
    color: #fff;
}
#about > h1{
    font-size: 60px;
    color: crimson;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
#about > div{
    /* border: 1px solid pink; */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.img {
    /* border: 1px solid red; */
    margin: auto;
}
.img > img{
    width: 340px;
    height: 400px;
    border-radius: 100px;
}
.info{
    /* border: 1px solid brown; */
    padding-top: 50px;
}
.info p{
    margin-top:15px ;
    /* margin-left: 30px; */
    line-height: 25px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    margin: 50px 0px 15px 0px;
    font-size: 23px;
}
.header span{
    color: crimson;
    font-weight: 550;
}

/* Tech Stack Styling  */
.techstack{
    margin-top: 60px;
    /* background-color: black; */
    /* color: #fff; */
}
.techstack > h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    /* color: crimson; */
}



/* Projects Styling */
#projects{
    padding: 50px;
    background-color: black;
    color: #fff;
    /* border: 1px solid red; */
}
.proj > h1{
    font-size: 60px;
    color: crimson;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.container-pro{
    /* border: 4px solid crimson; */
    border-radius: 75px;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left{
    /* border: 1px solid blue; */
    padding: 20px;
}
.right{
    padding: 45px;
    /* border: 1px solid blue; */
}
.right h2 span{
    color: crimson;
    /* text-decoration: underline; */
}
.right h4 span{
    color: crimson;
}
.right p ,h4{
    margin-top:20px;
    line-height: 25px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}
.right > button{
    background-color: crimson;
    padding: 9px;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
}
.right > button a{
    color: #fff;
}
.right > button a:hover{
    color: black;
}
.left img{
    width: 100%;
    border-radius: 20px;
}
